[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap3 = "*"
django-bootstrap4 = "*"
psycopg2 = "==2.8.6"
pillow = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
dj-database-url = "*"
config = "*"
python-decouple = "*"
django = "==1.11.17"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
